<?xml version="1.0"?>
<robot name="mid360_robot">

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.7 0.7 0.4"/>
      </geometry>
      <material name="red">
        <color rgba="0.7 0.1 0.1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.7 0.7 0.4"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="20.0"/>
      <inertia ixx="0.5" ixy="0" ixz="0" iyy="0.5" iyz="0" izz="0.5"/>
    </inertial>
  </link>

  <joint name="livox_mid360_joint" type="fixed">
    <parent link="base_link"/>
    <child link="livox_mid360_link"/>
    <origin xyz="0 0 0.7" rpy="0 0 0"/> 
  </joint>

  <link name="livox_mid360_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.08 0.05"/> 
      </geometry>
      <material name="lidar_black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
    
    <collision>
        <geometry><box size="0.08 0.08 0.05"/></geometry>
    </collision>
    <inertial>
        <mass value="0.2"/>
        <inertia ixx="0.0002" ixy="0" ixz="0" iyy="0.0002" iyz="0" izz="0.0002"/>
    </inertial>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="livox_mid360_link">
    <plugin name="livox_laser_plugin" filename="libros2_livox.so">
      <ros>
        <namespace>/</namespace>
        <argument>livox/lidar</argument>
        <argument>livox_ros_driver2/msg/CustomMsg</argument> 
      </ros>
      <laser_name>mid360_laser</laser_name>
      <horizontal_min_angle>-3.14159265359</horizontal_min_angle>
      <horizontal_max_angle>3.14159265359</horizontal_max_angle>
      <vertical_min_angle>-0.122173</vertical_min_angle> 
      <vertical_max_angle>0.907571</vertical_max_angle>  
      <add_noise>true</add_noise>
      <downsample>1</downsample>
      <publish_pointcloud_type>0</publish_pointcloud_type>
      <visualize>false</visualize> 
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <ros><namespace>/</namespace></ros>
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
    </plugin>
  </gazebo>
</robot>